USE [master]
GO
/****** Object:  Database [MusicDb]    Script Date: 25/04/2026 12:59:57 CH ******/
CREATE DATABASE [MusicDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusicDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\MusicDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusicDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\MusicDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusicDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusicDb]
GO
/****** Object:  Table [dbo].[Songs]    Script Date: 25/04/2026 12:59:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Songs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Artist] [nvarchar](200) NULL,
	[Album] [nvarchar](200) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25/04/2026 12:59:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[PasswordHash] [nvarchar](400) NOT NULL,
	[PasswordSalt] [nvarchar](200) NOT NULL,
	[PasswordIterations] [int] NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Songs] ON 

INSERT [dbo].[Songs] ([Id], [Title], [Artist], [Album], [CreatedAt]) VALUES (1, N'Noi Này Có Anh', N'Son Tùng M-TP', N'Single', CAST(N'2026-04-10T12:43:17.553' AS DateTime))
INSERT [dbo].[Songs] ([Id], [Title], [Artist], [Album], [CreatedAt]) VALUES (2, N'Hãy Trao Cho Anh', N'Son Tùng M-TP', N'Single', CAST(N'2026-04-10T12:43:17.553' AS DateTime))
INSERT [dbo].[Songs] ([Id], [Title], [Artist], [Album], [CreatedAt]) VALUES (3, N'L?c Trôi', N'Son Tùng M-TP', N'Single', CAST(N'2026-04-10T12:43:17.553' AS DateTime))
SET IDENTITY_INSERT [dbo].[Songs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [PasswordSalt], [PasswordIterations], [Role], [CreatedAt]) VALUES (1, N'admin', N'admin@example.com', N'x4bxiNK8fUYH8RaXyjCa68dENDzcX1VzPIEPnBo1gas=', N'i5eSoolmLTxOnmXuYn0w6A==', 10000, N'admin', CAST(N'2026-04-10T13:01:02.823' AS DateTime))
INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [PasswordSalt], [PasswordIterations], [Role], [CreatedAt]) VALUES (2, N'123', N'123@gmail.com', N'07GWfPajL34s0bzLXNn6ZGWGTl1i7o843MVGHVhPpEA=', N'elFjUx8iQ0BlQVRM+b0LXQ==', 10000, N'user', CAST(N'2026-04-10T13:01:02.957' AS DateTime))
INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [PasswordSalt], [PasswordIterations], [Role], [CreatedAt]) VALUES (3, N'1', N'1@gmail.com', N'iFiJ1qeiReI1hWqdXz4ylFWLAqX453s8RgKSuOZhzEM=', N'jyirkAia1orjRg3xQPvHqQ==', 10000, N'user', CAST(N'2026-04-19T18:09:33.603' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Songs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((10000)) FOR [PasswordIterations]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('user') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
USE [master]
GO
